#API расположен по адресу https://app.exchangerate-api.com/activate-account
EXCHANGE_RATE_API_KEY=

#API расположен по адресу https://site.financialmodelingprep.com/developer/docs
FMP_API_KEY=

#Название переменной для открытия файла xl
DATA_FILE="/Users/sergejmolcan/coursework1/data/operations.xlsx"